<h2>Product List</h2>

<ul>
    <li *ngFor="let product of products">

    <a type="button" class="btn btn-primary m-2" [routerLink]="['/products', product.id]">{{ product.name }} - {{product.price | currency }}</a>

    <a type="button" class="btn btn-success m-2" routerLink="/products/{{product.id}}">{{ product.name }} - {{product.price | currency }}</a>

    <a type="button" class="btn btn-info m-2" (click)="goToProductDetails(product.id)">{{ product.name }} - {{product.price | currency }}</a>
    

    </li>
</ul>
