<div class="container mb-4">
  <h1>Les pipes</h1>
  <br />

  <section>
    <h2>Texte</h2>

    <ul>
      <li>{{ message }}</li>
      <li>{{ message | uppercase }}</li>
      <li>{{ message | lowercase }}</li>
      <li>{{ message | titlecase }}</li>
    </ul>
  </section>

  <section >
    <h2>Nombres</h2>

    <ul>
      <li>{{ pi }}</li>
      <li>{{ pi | number }}</li>
      <li>{{ pi | number: '1.0-2'}}</li>
      <li>{{ 4 | number: '3.3-3'}}</li>
    </ul>
  </section>

  <section >
    <h2>Les dates</h2>

    <ul>
      <li>{{ today }}</li>
      <li>{{ today | date: 'short' }}</li>
      <li>{{ today | date: 'long'}}</li>
      <li>{{ today | date: 'medium' | uppercase }}</li>
      <li>{{ today | date: 'dd/MM/YYYY'}}</li>
    </ul>

    <p>Plus d'options de format sur les dates  : 

      <a href="https://v17.angular.io/api/common/DatePipe#custom-format-options">Sur la docs</a>
    </p>

    <h2>Les Currency</h2>

    <ul>
      <li>{{ montant | currency }}</li>
      <li>{{ montant | currency:'EUR'}}</li>
      <li>{{ montant | currency:'EUR':'code' }}</li>
      <li>{{ montant | currency:'GBP':'symbol':'1.2-2'}}</li>
    </ul>
    
    <h2>Pipe personnalisé : </h2>

    <p>{{ message | rainbows }}</p>

  </section>



 

</div>
