<div class="container m-4">
  <!--   <h1>Les blocks</h1>
  <br />

  <section class="m-4">
    <h2>Les blocks conditionnels</h2>
    <br/>
    @if(!isLogged){
    <div>
      <h3>Vous n'êtes pas connecté.</h3>
      <p>
        <button class="btn btn-primary" (click)="toggleLogged()">Se connecter</button>
      </p>
    </div>
    }@else if(isLogged){
    <div>
      <h2>Bienvenue Jean-louis</h2>
      <br/>
      <h3>Vous êtes connecté.</h3>
      <p> 
        <button class="btn btn-danger" (click)="toggleLogged()">Se deconnecter</button>
      </p>
    </div>
    }@else {
    <p>Vous êtes ni connecté, ni deconnecté</p>
    }
  </section>


<section class="m-4">
    <h2>Les blocks Switch</h2>

    @switch (today) {
        @case ('Monday') {
            <p> Zut c'est lundi</p>
        }
        @case ('Tuesday') {
            <p> Le mardi c'est permis</p>
        }
        @case ('Friday') {
            <p>C'est bientôt le week-end</p>
        }
        @default {
            <p>Un autre jour de la semaine</p>
        }
    }

</section> -->

<section>
<h2>Les boucles</h2>

<ul>
  @for (item of fruits; track $index;) {
  <li >
    A l'index : {{ $index }}, j'ai : {{ item }}.
    C'est le premier de la liste ? : {{ $first }}
    C'est le dernier de la liste ? : {{ $last }}
    Il y a {{ $count }} items dans le tableau
  </li>
} @empty {
  <p>La liste est vide</p>
}
</ul>


</section>

  <section>
    <h1>Les directives structurelles</h1>

    <h2>Les conditions</h2>

    <div *ngIf="!isLogged; else loggedBlock">
      <h3>Vous n'êtes pas connectés</h3>
      <p>
        <button class="btn btn-primary" (click)="toggleLogged()">
          se connecter
        </button>
      </p>
    </div>

    <ng-template #loggedBlock>
      <div *ngIf="isLogged; else nothingToDoBlock">
        <h3>Bienvenue Jean-Michel</h3>
        <p>
          <button class="btn btn-danger" (click)="toggleLogged()">
            Logout
          </button>
        </p>
      </div>
    </ng-template>

    <ng-template #nothingToDoBlock>
      <div>
        <h3>Rien à faire</h3>
      </div>
    </ng-template>
  </section>

  <section>
    <h2>Switch</h2>
    <div [ngSwitch]="today">
      <p *ngSwitchCase="'Monday'">Oh non, on est lundi</p>
      <p *ngSwitchCase="'Tuesday'">Le mardi c'est permis</p>
      <p *ngSwitchCase="'Friday'">Bientôt vendredi</p>
      <p *ngSwitchCase="'Sunday'">C'est déjà dimanche</p>
      <p *ngSwitchDefault>Un jour etrange</p>
    </div>
  </section>

  <section>
    <h2>Les boucles</h2>
   <ul>
    <li *ngFor="let f of fruits; index as i; count as c; first as isFirst; last as isLast" >
      A l'index : {{ i }}, j'ai : {{ f }}.
      C'est le premier de la liste ? : {{ isFirst }}
      C'est le dernier de la liste ? : {{ isLast }}
      Il y a {{ c }} items dans le tableau
    </li>
   </ul>
   <p *ngIf="fruits.length === 0">La liste est vide</p>
  </section>
<section>
<h2> Les variables de templates</h2>

<ng-container *ngIf="user as userData">
  <p>Username : {{userData.name}}</p>
</ng-container>

</section>

</div>
